.header {
  margin: -1rem -1rem 1rem;
  padding: 1rem;
  background: var(--primary-color-darker);
  color: white;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.header__top>* {
  align-items: center;
}

.header__title {
  margin: 0;
  color: var(--light-color);
  display: inline;
}