.header {
  margin: -1rem -1rem 1rem;
  padding: 1rem;
  background: var(--primary-color-darker);
  color: white;
}

.header__title {
  margin: 0;
  color: var(--light-color);
  display: inline;
}

.top-menu__icon,
.top-menu {
  float: right;
  font-size: 1.5rem;
}

.top-menu ul {
  list-style: none;
}

.top-menu__item {
  display: block;
}