.top-menu {
  display: block;
}

.top-menu ul {
  list-style: none;
}

.top-menu__item {
  display: block;
  padding: .5rem;
  font-weight: var(--font-normal);
  font-size: 1.2rem;
}

.top-menu__item a {
  color: var(--light-color);
}

.top-menu__icon {
  display: inline-block;
}

@media screen and (min-width: 400px) {

  .top-menu__icon {
    display: none;
  }

  .top-menu {
    display: inline-block;
  }

  .top-menu__item {
    display: inline-block;
  }
}