.button {
  padding: .75rem;
  border-radius: 0.25rem;
  background: var(--secondary-color);
  color: white;
  font-size: .75rem;
  letter-spacing: .07rem;
  text-transform: uppercase;
}

.button:hover {
  background: var(--primary-color-darker);
}

.button:focus {
  border: var(--primary-color-darker) solid 2px;
  outline: none;
  background: var(--primary-color-darker);
}