@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap');

:root {
  --primary-color-lighter: #71ccb1;
  --primary-color: #439b81;
  --primary-color-darker: #478182;
  --primary-color-more-darker: #46697d;
  --light-color: #e5f2ee;
  --bg-color: #f1f1f1;
  --secondary-color: #f9ba79;
  --secondary-color-darker: #f1a355;
  --font-color: #494255;
  --font-thin: 200;
  --font-normal: 400;
  --font-bold: 700;
  --font-family: 'Lexend', sans-serif;
  --corners: .3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: var(--font-normal);
}

button {
  display: inline-block;
  overflow: visible;
  border: none;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
}

input,
button {
  font-family: inherit;
}

address,
a:hover,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
  color: var(--primary-color-more-darker);
}