@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap');

:root {
  --primary-color-more-lighter: #ccdacf;
  --primary-color-lighter: #78ba7b;
  --primary-color: #206d2d;
  --primary-color-darker: #143e2d;
  --primary-color-more-darker: #052a16;
  --light-color: #ebf0ee;
  --bg-color: #f1f1f1;
  --almost-white: #fcfcfc;
  --secondary-color-lighter: #5cb4d4;
  --secondary-color: #2c9bc4;
  --secondary-color-darker: #034773;
  --font-color: #081f29;
  --font-color-meta: #647279;
  --font-thin: 200;
  --font-normal: 400;
  --font-bold: 700;
  --font-family: 'Lexend', sans-serif;
  --font-size: 17px;
  --corners: .3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: var(--font-normal);
  line-height: 1.75rem;
  font-size: var(--font-size);
}

button {
  display: inline-block;
  overflow: visible;
  border: none;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
}

input,
button {
  font-family: inherit;
}

address,
a:hover,
a:visited,
a:-webkit-any-link {
  text-decoration: none;
  color: var(--primary-color-more-darker);
}