.app__main {
  padding: .5rem;
}

.app__section {
  max-width: 1200px;
  margin: auto auto .5rem;
  background: #fcfcfc;
  padding: .5rem;
}

@media screen and (min-width: 400px) {
  .app__main {
    padding: 1rem;
  }

  .app__section {
    margin: auto auto 1rem;
    padding: 1rem;
  }
}