.categories {
  display: block;
}

.categories__category {
  display: inline;
  margin-right: .5rem;
  padding: 4px 8px;
  border-radius: 25rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.categories__checkbox {
  display: none;
}

.categories__checkbox:checked+.categories__category {
  background-color: var(--primary-color);
  border-color: var(--primary-color-darker);
  color: #fff;
}