.categories {
  display: block;
  margin-bottom: .5rem;
}

.categories__label {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: 4px 8px;
  border-radius: 25rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-size: var(--font-size);
  font-weight: var(--font-normal);
  cursor: pointer;
}

.categories__checkbox:checked+.categories__label {
  background-color: var(--primary-color);
  border-color: var(--primary-color-darker);
  color: #fff;
}

.categories__label:hover {
  background: var(--primary-color-more-lighter);
}

.categories__checkbox:checked+.categories__label:hover {
  background: var(--primary-color-more-lighter);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.categories__checkbox {
  display: none;
}