.search {
  margin: 1.5rem auto 1rem;
  text-align: center;
}

.search__input {
  width: 100%;
  max-width: 800px;
  margin-bottom: .5rem;
  padding: .8rem;
  border: none;
  border-radius: 25rem;
  font-size: 1.3rem;
  font-weight: var(--font-normal);
  background: var(--light-color);
  color: var(--primary-color);
  text-align: center;
  caret-color: var(--secondary-color);
}

.search__input:focus {
  border: none;
  outline: none;
}

.search__input::placeholder {
  font-weight: var(--font-thin);
  color: var(--primary-color-lighter);
}

.search__button {
  margin-left: -42px;
  margin-top: 2px;
  vertical-align: sub;
  background: transparent;
  color: var(--primary-color);
}

.search__button:hover,
.search__button:focus {
  background: transparent;
}